<!DOCTYPE html>
html(lang="es" ng-app="app")
head
	meta(charset="UTF-8")
	title Shop
	link(rel='stylesheet', href='/css/estilo.css')

body(ng-controller="productosCtrl")
	h1 Listado de productoss
	ul(ng-repeat="p in productos")
		li nombre {{p.nombre}}
		li precio {{p.precio}}
		li categoria {{p.categoria}}
		li descripcion {{p.descripcion}}
		li foto {{p.picture}}
	script(src='/js/angular.min.js')
	script(src='/js/scripts.js')